mat-card {
  width: 420px;
  margin: 10px auto auto auto;
}

body {
  margin: 5px;
}

.outer-shell {
  margin: auto;
  width: 75%;
}

.inner-shell {
  display: flex;
}

.product-data {
  float: left;
  margin: 15px;
}

.info {
  margin-left: 15px;
  margin-right: 15px;
}

.pic {
  margin-left: 15px;
  margin-right: 15px;
}

span {
  margin: auto 8px auto 8px;
}

.checkout {
  padding: 10px;
  float: right;
  background-color: #424242;
}

@media only screen and (max-width: 1035px) {
  .outer-shell {
    display: grid;
  }

  .product-data {
    margin: 5px;
  }

  .info {
    margin-left: 5px;
    margin-right: 5px;
  }

  .pic {
    margin-left: 5px;
    margin-right: 5px;
  }

  .checkout {
    padding: 10px;
    margin: 3px;
    background-color: #424242;
  }
}
