main {
  width: 590px;
  margin: 10px auto auto auto;
}

@media only screen and (max-width: 781px) {
  mat-accordion {
    width: 500px;
    margin: 10px auto auto auto;
  }

  main {
    width: 92%;
    margin: 10px auto auto auto;
  }
}

.productLink {
  color: #f48fb1;
  transition: 0.3s;
}

.productLink:hover {
  transition: 0.3s;
  color: #c2185b;
}
